@import 'sn-extension-api/dist/sn.min.css';

body,
html {
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-font-size-editor);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.code-container {
  height: 100%;
  overflow: hidden;
}
